# Directories
.go
.vscode
/build/_output
/cmd/manager/__debug_bin
build-harness
build-harness-extensions
vendor
test/coverage
test/out
overlays/deploy

# Files
.build-harness
.build-harness-bootstrap
OPENSOURCE.check

# override build harness vendoring
!vbh/.build-harness-vendorized
!vbh/build-harness
!vbh/build-harness-extensions

# test outputs
test/functional_test_tmp
test/coverage-functional
kind_kubeconfig.yaml

