# Directories
.go
.vscode
/build/_output
/cmd/manager/__debug_bin
build-harness
build-harness-extensions
vendor
test/coverage
test/out
overlays/deploy

# Files
.build-harness
.build-harness-bootstrap
OPENSOURCE.check
