# Copyright Contributors to the Open Cluster Management project

name: Go

on:
  push:
    branches: [main, release-*, backplane-*]
    paths-ignore:
      - ".tekton/**"
      - "docs/**"
  pull_request:
    branches: [main, release-*, backplane-*]
    paths-ignore:
      - ".tekton/**"
      - "docs/**"

jobs:
  e2e-core:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: "v1.24.0" # default is latest stable
        id: install

      - name: E2E Tests (Core)
        run: OCM_VERSION=${{ github.base_ref }} make e2e-test-core

      - if: ${{ failure() }}
        name: Logs after Tests Failed
        run: kubectl -n open-cluster-management logs -l name=managedcluster-import-controller --tail=-1

      - if: ${{ failure() }}
        name: Setup tmate session for debugging
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 30

  e2e-misc:
    needs: e2e-core
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: "v1.24.0" # default is latest stable
        id: install

      - name: E2E Tests (Misc)
        run: OCM_VERSION=${{ github.base_ref }} make e2e-test-misc

      - if: ${{ failure() }}
        name: Logs after Tests Failed
        run: kubectl -n open-cluster-management logs -l name=managedcluster-import-controller --tail=-1

      - if: ${{ failure() }}
        name: Setup tmate session for debugging
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 30

  e2e-hosted:
    needs: e2e-misc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: "v1.24.0" # default is latest stable
        id: install

      - name: E2E Tests (Hosted)
        run: OCM_VERSION=${{ github.base_ref }} make e2e-test-hosted

      - if: ${{ failure() }}
        name: Logs after Tests Failed
        run: kubectl -n open-cluster-management logs -l name=managedcluster-import-controller --tail=-1

      - if: ${{ failure() }}
        name: Setup tmate session for debugging
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 30

