# Copyright Contributors to the Open Cluster Management project

name: Go

on:
  push:
    branches: [main, release-*, backplane-*]
    paths-ignore:
      - ".tekton/**"
      - "docs/**"
  pull_request:
    branches: [main, release-*, backplane-*]
    paths-ignore:
      - ".tekton/**"
      - "docs/**"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: "v1.24.0" # default is latest stable
        id: install

      - name: E2E Tests
        run: make e2e-test

      - if: ${{ failure() }}
        name: Logs after Tests Failed
        run: kubectl -n open-cluster-management logs -l name=managedcluster-import-controller --tail=-1

      - if: ${{ failure() }}
        name: Setup tmate session after Tests Failed
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 120 # 120 minutes timeout
