# Copyright Contributors to the Open Cluster Management project

name: Go

on:
  push:
    branches: [ main, release-*, backplane-* ]
  pull_request:
    branches: [ main, release-*, backplane-* ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.21'

    - name: Set up kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'v1.24.0' # default is latest stable
      id: install

    - name: E2E Tests
      run: make e2e-test

    - if:  ${{ failure() }}
      name: Logs after Tests Failed
      run: kubectl -n open-cluster-management logs -l name=managedcluster-import-controller --tail=-1
